@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background: #F6F8F3;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}